body{
    /* background-image: url("wallhaven-x8z9yo_2560x1080.png");
    background-repeat: repeat;
    background-position:  center top;
    background-attachment: fixed;可简写 */
    background: #333  url("img/wallhaven-g7mpj7_2560x1080.png") repeat center top fixed;
    color: #fff;
    /* background: rgb(0,0,0,0.3) 背景色半透明*/
}
.nav1{
    width: 100px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    
    text-align: center;
    color:red(53, 20, 151);
    background-color: skyblue;
}
.nav2{
    width: 100px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    
    text-align: center;
    color:red(53, 20, 151);
    background-color: skyblue;
}
.nav3{
    width: 100px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    
    text-align: center;
    color:red(53, 20, 151);
    background-color: skyblue;
}
.nav4{
    width: 100px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    
    text-align: center;
    color:red(53, 20, 151);
    background-color: skyblue;
}
.div5{
    margin-top: 100px;
    font-weight: lighter;
    font-size: 30px;
    color: rgb(19, 21, 187);
}
a:visited{
    color: blue;
    text-decoration: underline;
}
a:hover{
    color: cyan;}
p{
    text-indent: 2em;
    text-align: center;
    color: springgreen;
    font-size: 20px;
}

.kongge{
    height: 100px;
}
.div6{
    margin-top: 100px;}