        body{
            /* background-image: url("wallhaven-x8z9yo_2560x1080.png");
            background-repeat: repeat;
            background-position:  center top;
            background-attachment: fixed;可简写 */
            background: #333  url("img/wallhaven-x8z9yo_2560x1080.png") repeat center top fixed;
            color: #fff;
            /* background: rgb(0,0,0,0.3) 背景色半透明*/
        }
        h1 {
            color: lightpink;
        }
        em {font-style: normal;}
        .red{
           color: rgb(228, 29, 29);
           font-family: 'miccosoft yahei';
        }
        /* .使用最多 */
        .font30{
            font-size: 30px;
        }
        #lover{
            /* color: tomato; */
            /* color: rgb(221, 25, 18) 等价*/
            color: rgb(211, 15, 15);
            /* font-size: 15px;
            font-weight: bold;
            font-style: oblique;可简写 ，有顺序，不能颠倒，先style，weight，size，family*/
            font: italic bold 15px 微软雅黑；
        }
        .text{
            text-align: center;
        }
        /* 独一无二 */
        * {
            /* 更改所有样式 */
        }
        a{
            text-decoration: none;
        }
        p{
            text-indent: 2em;
            line-height: 26px;
        }
        a:link {
            color: #333;
            text-decoration: none;
        }
        a:visited{
            color: blue;
            text-decoration: underline;
        }
        a:hover{
            color: cyan;
            text-decoration: underline;
        }
        a:active{
            color: green;
        }
/* 按顺序 */
        input:focus{
            background-color: rgb(255, 255, 255);
        }
        .baidu{
            width: 300px;
            height: 50px;
            display: block;
            background-color: rgb(212, 34, 34);
            line-height: 50px;
            /* 让行高等于盒子高度可以让文字垂直居中 */
            /* display: inline 转为行内元素
            display: inline-block 转为行内块元素 */
        }
        